@import "./theme.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--background-image-gradient);
  @apply bg-cover;
}

.wrapper {
  @apply max-w-[1440px] w-[90%] m-auto;
}

@layer base {
  .btn {
    @apply bg-less-white w-fit text-center py-3 px-5 rounded-3xl font-light tracking-wide border border-white min-w-[150px] sm:min-w-[100px] sm:text-sm;
  }
  .btn:hover:not(:disabled) {
    @apply bg-dark-turquoise text-white font-normal;
  }
  .btn:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.joinUsCard {
  @apply flex bg-white h-[400px] w-[20%] min-w-[250px] rounded-custom md:min-w-[200px] md:h-[325px] hover:shadow-lg transition-all duration-300 ease-in-out;
}

.joinUsLink {
  @apply flex flex-col items-center justify-center;
}

.joinUsImg {
  @apply pb-6 md:w-[150px] md:h-auto md:pb-3;
}

.joinUsCard h3 {
  @apply font-bold text-2xl md:text-xl;
}

.joinUsCard p {
  @apply w-[80%] text-center mt-5 text-sm md:text-xs md:my-3;
}

.codeOfConduct p,
.codeOfConduct li {
  @apply md:text-sm;
}

.codeOfConduct h2 {
  @apply md:text-4xl;
}

.codeOfConduct h4 {
  @apply md:text-2xl;
}