@import "tailwindcss";

@theme {
  --font-display: "PoetsenOne", serif;
  --font-sans: "Nunito", system-ui, sans-serif;

  --breakpoint-xl: 80rem;
  --breakpoint-lg: 64rem;
  --breakpoint-md: 55.625rem;
  --breakpoint-sm: 47.5rem;
  --breakpoint-xs: 25.875rem;
  --breakpoint-xxs: 23.4375rem;
  --color-white: #ffffff;
  --color-less-white: #f0f9ff;
  --color-black: #000;
  --color-dark-turquoise: #35938c;
  --color-light-turquoise: #6fe3e0;
  --color-light-sand: #fff4ee;
  --radius-custom: 1% 75px;
  /* Color */
  --color-brand-primary-50: #dcebed; /* Light Variant  */
  --color-brand-primary-100: #bad6db;
  --color-brand-primary-200: #97c3c9;
  --color-brand-primary-300: #73afb8;
  --color-brand-primary-400: #4c9ba7;
  --color-brand-primary-500: #0b8896; /* Main Variant  */
  --color-brand-primary-600: #166b76;
  --color-brand-primary-700: #195058;
  --color-brand-primary-800: #17363b;
  --color-brand-primary-900: #111e20; /* Dark Variant  */
  --color-brand-secondary-50: #d6dde1;
  --color-brand-secondary-100: #afbbc4;
  --color-brand-secondary-200: #899ba7;
  --color-brand-secondary-300: #637b8c;
  --color-brand-secondary-400: #3e5d71;
  --color-brand-secondary-500: #164157;
  --color-brand-secondary-600: #163546;
  --color-brand-secondary-700: #142935;
  --color-brand-secondary-800: #111e25;
  --color-brand-secondary-900: #0b1216;
  --color-brand-accent-50: #fff3e0;
  --color-brand-accent-100: #ffe7c1;
  --color-brand-accent-200: #ffdba3;
  --color-brand-accent-300: #ffcf84;
  --color-brand-accent-400: #fec464;
  --color-brand-accent-500: #fab842;
  --color-brand-accent-600: #c39037;
  --color-brand-accent-700: #8f6a2c;
  --color-brand-accent-800: #5e4620;
  --color-brand-accent-900: #312615;

  --animate-fade-in: fade-in 100ms ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 100ms ease-in-out;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-slide-left-infinite: slide-left 25s linear infinite;
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable range */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Italic";
  src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable range */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 100; /* Variable range */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LostFish-5DOz";
  src: url("/fonts/LostFish-5DOz.ttf") format("truetype");
  font-weight: 100; /* Variable range */
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-brand-primary-50);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);
    @variant dark {
      background-color: var(--color-brand-primary-900);
    }
  }
  header {
    background-color: var(--color-brand-primary-50);
    @variant dark {
      background-color: var(--color-brand-primary-900);
    }
  }
  footer {
    background-color: var(--color-brand-primary-50);
    @variant dark {
      background-color: var(--color-brand-primary-900);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-brand-primary-900);
    @variant dark {
      color: var(--color-brand-primary-50);
    }
  }
  p {
    color: var(--color-brand-primary-900);
    @variant dark {
      color: var(--color-brand-primary-50);
    }
  }
}
