@import "tailwindcss";

@theme {
  --breakpoint-xl: 80rem;
  --breakpoint-lg: 64rem;
  --breakpoint-md: 55.625rem;
  --breakpoint-sm: 47.5rem;
  --breakpoint-xs: 25.875rem;
  --breakpoint-xxs: 23.4375rem;
  --color-white: #ffffff;
  --color-less-white: #f0f9ff;
  --color-black: #000;
  --color-dark-turquoise: #35938c;
  --color-light-turquoise: #6fe3e0;
  --color-light-sand: #fff4ee;
  --radius-custom: 1% 75px;

  --animate-fade-in: fade-in 100ms ease-in-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 100ms ease-in-out;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

:root {
  --background-image-gradient: url("../../public/gradient-vertical.png");
}
