@import "tailwindcss";

@theme {
  --breakpoint-xl: 80rem;
  --breakpoint-lg: 64rem;
  --breakpoint-md: 55.625rem;
  --breakpoint-sm: 47.5rem;
  --breakpoint-xs: 25.875rem;
  --breakpoint-xxs: 23.4375rem;
  --container-8xl: 90rem;
  --color-white: #ffffff;
  --color-less-white: #f8f9fa;
  --color-black: #000;
  --color-dark-turquoise: #35938c;
  --color-light-turquoise: #6fe3e0;
  --color-light-sand: #fff4ee;
  --radius-custom: 1% 75px;
  /* Colors */
  --color-brand-primary-50: #ecfffe;
  --color-brand-primary-100: #cefffd;
  --color-brand-primary-200: #a3fefd;
  --color-brand-primary-300: #63fdfd;
  --color-brand-primary-400: #1df0f3;
  --color-brand-primary-500: #01d3d9;
  --color-brand-primary-600: #04a8b6;
  --color-brand-primary-700: #0b8896;
  --color-brand-primary-800: #136a77;
  --color-brand-primary-900: #145865;
  --color-brand-primary-950: #073b45;
  --color-brand-accent-50: #fff9eb;
  --color-brand-accent-100: #fdecc8;
  --color-brand-accent-200: #fcd78b;
  --color-brand-accent-300: #fab842;
  --color-brand-accent-400: #f9a426;
  --color-brand-accent-500: #f3800d;
  --color-brand-accent-600: #d75d08;
  --color-brand-accent-700: #b23e0b;
  --color-brand-accent-800: #91300f;
  --color-brand-accent-900: #772810;
  --color-brand-accent-950: #441204;
  
  --animate-fade-in: fade-in 100ms ease-in-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 100ms ease-in-out;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-slide-left-infinite: slide-left 25s linear infinite;
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

:root {
  --background-image-gradient: url("../../public/gradient-vertical.png");
}
