/* To run tailwind: npx tailwindcss -i ./styles/inp
ut.css -o ./dist/output.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: theme("backgroundImage[gradient]");
  @apply bg-cover;
}

.wrapper {
  @apply max-w-[1440px] w-[90%] m-auto;
}

@layer base {
  .btn {
    @apply bg-lessWhite w-fit text-center py-3 px-5 rounded-3xl font-light tracking-wide border border-white;
  }
}
