@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: theme("backgroundImage[gradient]");
  @apply bg-cover;
}

.wrapper {
  @apply max-w-[1440px] w-[90%] m-auto;
}

@layer base {
  .btn {
    @apply bg-lessWhite w-fit text-center py-3 px-5 rounded-3xl font-light tracking-wide border border-white min-w-[150px];
  }
}

.joinUsCard {
  flex-wrap: wrap;
  background-color: white;
  height: 400px;
  width: 23%;
  border-radius: 5% 75px;
  margin-left: 50px;
  width: 20%;
  border-radius: 1% 75px;
}

h3 {
  font-weight: bold;
  margin-top: 20px;
}
